

body { font-family: 'Montserrat', sans-serif;
        margin: 0%;
       color: rgb(71, 71, 71);}



h1 { font-size: 60px;
    line-height: 1;
    margin: 1;}
p {padding-bottom: 2%;}
span { color: #027de3 ;}
.top-banner { display: flex;}
.top-size { width: 50%;
            padding-left:  5%;
        padding-top: 6%;}

.top-size img { width: 90%;
        
 }

.order-button {text-decoration: none;
 background-image: linear-gradient( #027de3 , #55a4e6 );
      color: white;
       padding: 10px 25px;
        border-radius: 20px;
         }


.mid-banner { display: flex;
              background-image: url(images/shapes/Frame\ 57.jpg);
            background-repeat: no-repeat;}


.text-position {padding-top: 20%;
               margin: 10;
               margin-right: 10%; }







.bottom-banner { margin-top: 250px;}

  
.onr  { text-align: center; }
.onr h2 { font-size: 40px;}

.food-item {display: flex;
        padding-left: 10%;
        padding-right: 5%;} 


.items { width: 30%;
          border-radius: 20px;
          margin-left: 5px;
          margin-right: 5%;
        box-shadow: 1px 1px 40px rgb(192, 192, 192);
          padding: 25px; }

.items img { width: 100%;}










footer { background-color: black;
         height: 320px;
        margin-top: 200px;}
footer h2 { text-align: center;
            font-size: 40px;
        padding-top: 5%;}

footer p { text-align: center;
          color: white;}
    